<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.DeviceMsgMapper">
    <resultMap id="BaseResultMap" type="com.model.DeviceMsgDo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="auth_code" jdbcType="VARCHAR" property="authCode"/>
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="serial_id" jdbcType="INTEGER" property="serialId"/>
        <result column="msg_body" jdbcType="VARCHAR" property="msgBody"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
    </resultMap>
    <sql id="Base_Column_List">
   id,device_id,auth_code,order_id,serial_id,msg_body,create_date
  </sql>
    <select id="select" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from device_msg
        where 1=1

        <if test="id != null">
            and id = #{id,jdbcType=VARCHAR}
        </if>

        <if test="deviceId != null">
            and device_id = #{deviceId,jdbcType=VARCHAR}
        </if>

        <if test="authCode != null">
            and auth_code = #{authCode,jdbcType=VARCHAR}
        </if>

        <if test="orderId != null">
            and order_id = #{orderId,jdbcType=VARCHAR}
        </if>

        <choose>
            <when test="beginDate == null  or  endDate == null">
               -- AND create_date &gt; date_sub(now(), interval 12 hour)
            </when>
            <otherwise>
                AND create_date &gt;= #{beginDate,jdbcType=TIMESTAMP}
                AND create_date &lt;= #{endDate,jdbcType=TIMESTAMP}
            </otherwise>
        </choose>
    </select>


    <insert id="insert" parameterType="com.model.DeviceMsgDo">
        insert into device_msg (device_id,auth_code,order_id,serial_id,msg_body,create_date )
        values (
        #{deviceId,jdbcType=VARCHAR},
        #{authCode,jdbcType=VARCHAR},
        #{orderId,jdbcType=VARCHAR},
        #{serialId,jdbcType=INTEGER},
        #{msgBody,jdbcType=VARCHAR},
        #{createDate,jdbcType=TIMESTAMP}
        )

    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM device_msg
    </select>

</mapper>
